nav {
    font-family: 'Inter';
}
main p  {
    font-family: 'Segoe UI';
}

h3, h5 {
    font-family: 'Montserrat';
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    overflow: auto; /* Enable scroll if needed */ 
    background-color: rgba(217,217,217,0.7); /* Black w/ opacity */
  }

#contato {
    background-color: #2A3342;
    border-radius: 5px;
    color: white;
    width: 203px;
   
    font-size: 16px;
}

#aparecer{
    display: none;
    background-color: #2A3342;
    border-radius: 10px;
    color: white;
    width: 202px;
    height: 48px;
    font-family: 'Raleway';
    font-size: 20px;

}

#bora:hover #aparecer {
    display: block;
}


p {
    font-size: 14px;
}
